html {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden; /* Disable default scrolling */
  font-family: "Avenir", sans-serif;
  /* font-size: 2vh; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  height: 100vh;
  /* background-color: red; */
}
